side-bar {
    logo {
        @include set-background-image("SideBars/LibraryExplorer.svg", 50px, 50px);
    }

    library-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 100%;
        overflow-y: auto;
        word-break: break-word;

        library-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #232528;
            font-size: 24px;
            width: 100%;
            height: 75px;
            flex-shrink: 0;

            icon {
                width: 35px;
                height: 35px;
                margin-left: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            name {
                margin-left: 15px;
                font-weight: 500;
            }
        }

        library-description {
            font-size: 14px;
            padding-left: 30px;
            padding-bottom: 20px;
            width: 100%;
            box-sizing: border-box;
            flex-shrink: 0;
        }

        group-title {
            background-color: #000000;
            flex-shrink: 0;
            width: 100%;
            height: 34px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #E7E8EA;
            font-size: 14px;

            icon {
                width: 15px;
                height: 15px;
                margin-left: 33px;
            }

            name {
                margin-left: 10px;
                font-weight: 500;
            }
        }

        member {
            width: 100%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            member-header-base {
                width: 100%;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                box-shadow: -1px -1px 1px rgba(101, 106, 114, 0.7);
                padding-left: 10px;
                padding-right: 10px;
                box-sizing: border-box;

                member-title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    align-content: center;
                    flex-shrink: 0;
                    width: 100%;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 15px;
                    margin-bottom: 10px;

                    caret {
                        width: 10px;
                        height: 24px;
                    }

                    name {
                        margin-left: 10px;
                    }
                }

                member-description {
                    flex-shrink: 0;
                    font-size: 12px;
                    padding-left: 20px;
                    padding-bottom: 16px;
                    box-sizing: border-box;
                }
            }

            member-header {
                @extend member-header-base;
                background-color: #BABEC4;
            }

            member-header:hover {
                background-color: #0E9DDF;
            }

            member-header-selected {
                @extend member-header-base;
                background-color: #E7E8EA;
            }

            member-body {
                width: 100%;
                flex-shrink: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                padding-left: 30px;
                padding-right: 10px;
                box-sizing: border-box;

                example {
                    flex-shrink: 0;
                    background-color: #E7E8EA;
                    box-shadow: 0px 1px 2px rgba(35, 37, 40, 0.6);
                    font-size: 12px;
                    padding: 7px;
                    width: calc(100% - 14px);
                    margin-bottom: 16px;
                }

                block {
                    width: 100%;
                    flex-shrink: 0;
                    padding-bottom: 8px;
                    box-sizing: border-box;

                    contents {
                        width: 100%;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        box-sizing: border-box;
                        padding-left: 5px;
                        border-left: 3px solid #0E9DDF;
                        margin-bottom: 10px;

                        name {
                            width: 100%;
                            flex-shrink: 0;
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: 3px;
                        }

                        description {
                            width: 100%;
                            flex-shrink: 0;
                            font-size: 12px;
                            margin-bottom: 4px;
                        }
                    }
                }
            }
        }
    }
}
